---
import Tag from "./Tag.astro";

interface Props {
  date: string;
  readTime?: string;
  title: string;
  description: string;
  tags: string[];
  url?: string;
}

const { date, readTime, title, description, tags, url } = Astro.props;
---

<div>
  <article class="pt-6 w-10/12">
    <div class="flex flex-col p-2 bg-synth-pink-2 bg-opacity-40 rounded-md transition group hover:bg-synth-purple hover:scale-[101%]">
      <a
        href={url}
        rel="prefetch"
      >
        <h4 class="text-xl font-semibold tracking-tight group-hover:text-synth-orange">{title}</h4>
      </a>
      <div class="flex flex-row text-white text-opacity-50 ml-2 mt-0.5 justify-start text-sm group-hover:text-synth-orange">

        <time>{date} &nbsp;</time>
        <span>{readTime}</span>

      </div>
    </div>

    <div class="px-4 pt-4  sm:px-6">
      {description}
    </div>

    <div class="pt-4 pb-6 px-4 sm:px-6">
      <ul class="flex flex-row flex-wrap gap-2">
        {tags.map((tag) => <Tag>{tag}</Tag>)}
      </ul>
    </div>
  </article>
</div>
